<h1>Tous les users</h1>

<% @all_users.each do |user| %>
	<p><a href="/users/<%= user.id %>">
	<% if user %>
	<%= user.name %></a> <i>(<%= user.email %>)</i>
	<% else %>
	<%= user.name %>
	<% end %>

<% end %>
	