<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />	
	<title>Vous êtes ici</title>
	<style>
	  html { height: 100% }
  	  body { height: 100%; margin: 0px; padding: 0px }
   	   #map { height: 500px ; width:900px;}
  </style>
</head><br/>
	<h1 style="margin-left: auto">J'ai faim !</h1>

<body onload="initialize()" style="text-align: center">

	<div id="map" style="margin: auto"></div>
	<br/><br/><br/>
	<p>
	[LISTE DES RESTOS ALENTOURS]
	</p>
	<a href="/snacks" style="font-size: 28px "><p>Voir tous les restos</p></a>

</body>


