@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background-color: #CBF4BC;
}

h1 {
    color: #650C0C;
    margin-bottom: 100px;
    font-size: 42px;
}

.row {
  margin-bottom: 100px;

}
 .snack_img {
   height: 150px;
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   box-shadow: 8px 8px 10px silver;
}

.alert-notice {
    @extend .alert-info;
}

.container {
}

.article {
  // border: 1px solid grey;
  // border-left: none;
  // border-right: none;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 50px;
}

.address {
  font-style: italic;
}

#map {
  height: 500px;
  margin-bottom: 15px;
}
