@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
    color: brown;
}

img {
  float: left;
  margin-right: 10px;
}

.alert-notice {
    @extend .alert-info;
}

.container {
}

.article {
  text-align: left;
  margin-bottom: 50px;
  border: 1px solid black;
}

.description {
}

#map {
  height: 500px;
  margin-bottom: 15px;
}

#address {
  font-style: italic;
}
