<h1>Affichage d'un snack</h1>

<p><%= @snack.brand %><br/>
<i><%= @snack.adress %></i>
</p>

<%= link_to 'Modifier', edit_snack_path, class: 'btn btn-info' %>

<%= link_to 'Revenir à la liste', snacks_path %>
